<section>
<p-toast [style]="{marginTop: '80px'}" class='message-error'></p-toast>

<div class="content-section implementation form-style">
  <h3 class="first">Cadastro de Items</h3>
  <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-5">
        <h6>Item</h6>
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-list-alt"></i></span>
              <input type="text" pInputText [(ngModel)]="item" placeholder="Item" maxlength="50" autoFocus="true" required>
          </div>
      </div>
  </div>

  <div class="ui-g-12 ui-md-5">
    <h6>Unidade</h6>
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-balance-scale"></i></span>
          <select name="unidades" [(ngModel)]="unidade" required>
            <option value="nd" [selected]="unidade == 'nd'">--- Selecione ---</option>
            <option value="litro" [selected]="unidade == 'litro'">Litro</option>
            <option value="quilograma" [selected]="unidade == 'quilograma'">Quilograma</option>
            <option value="unidade" [selected]="unidade == 'unidade'">Unidade</option>
          </select>
      </div>      
  </div>

  <div class="ui-g-12 ui-md-6">
    <h6 *ngIf="unidade == 'litro' || unidade == 'quilograma' || unidade == 'unidade'">Quantidade</h6>
      <div class="ui-inputgroup">
          <span *ngIf="unidade == 'litro' || unidade == 'quilograma' || unidade == 'unidade'" class="ui-inputgroup-addon"><i class="fa fa-boxes"></i></span>
          <p-inputMask [(ngModel)]="quantidade" *ngIf="unidade == 'litro'" mask="9999,999?" slotChar="0"></p-inputMask>
          <span class="ui-inputgroup-addon" *ngIf="unidade == 'litro'">lt</span>
          <p-inputMask [(ngModel)]="quantidade" *ngIf="unidade == 'quilograma'" mask="9999,999?" slotChar="0"></p-inputMask>
          <span class="ui-inputgroup-addon" *ngIf="unidade == 'quilograma'">kg</span>
          <p-inputMask [(ngModel)]="quantidade" *ngIf="unidade == 'unidade'" mask="999?" slotChar="0"></p-inputMask>     
          <span class="ui-inputgroup-addon" *ngIf="unidade == 'unidade'">un</span>     
      </div>
  </div>

  <div class="ui-g-12 ui-md-12">
    <h6>Preço</h6>
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-money-bill-alt"></i></span>
          <p-inputMask class='money-style' [(ngModel)]="moneyBrl" type="text" mask="R$ 999.999,99" required></p-inputMask>
      </div>
  </div>
 
  <div class="ui-g-12 ui-md-12">
  <h6>Produto Perecível?</h6>
    <div class="form-check-inline">
      <label class="form-check-label" [ngClass]="{'active': perecivel}">
        <input type="radio" [value]="1" [(ngModel)]="options" class="form-check-input" name="option" (click)="dataValidade($event)" id="sim" autocomplete="on">Sim
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label" [ngClass]="{'active': !perecivel}">
        <input type="radio" [value]="2" [(ngModel)]="options" class="form-check-input" name="option" (click)="dataValidade($event)" id="nao" autocomplete="off" checked>Não
      </label>
    </div>
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-3" *ngIf='perecivel'>
      <h6>Data de Validade</h6>
      <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-calendar-alt"></i></span>
      <p-calendar [(ngModel)]="valid" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" (click)="dataVenc()"></p-calendar>      
      </div>
  </div>
  
  <div class="ui-g-12 ui-md-12 ui-lg-3" *ngIf='perecivel'>
      <h6>Data de Fabricação</h6>
      <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-calendar-alt"></i></span>
      <p-calendar [(ngModel)]="fabr" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" (click)="dataFabrFunction()" required></p-calendar>   
      </div>   
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-3" *ngIf='!perecivel'>
      <h6>Data de Fabricação</h6>
      <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-calendar-alt"></i></span>
      <p-calendar [(ngModel)]="fabr" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy"></p-calendar>   
      </div>   
  </div>

  <div class="ui-g-12 ui-md-5 ui-lg-3">
    <button pButton type="button" label="Salvar" (click)="salvar()"></button>
  </div>

  <div class="ui-g-12 ui-md-5 ui-lg-3">
    <button pButton type="button" label="Cancelar" class="ui-button-raised ui-button-danger" routerLink="/list"></button>
  </div>
</div>
</section>
