<section>
<div class="ui-md-12 table-style">
<h3>Listagem</h3>
  <p-table [value]="listas" class='table-style'>
    <ng-template pTemplate="header">
        <tr class='font-title'>
            <th>Item</th>
            <th>Unid.</th>
            <th>Quant.</th>
            <th>Preço</th>
            <th>Perecível</th>
            <th>Validade</th>
            <th>Fabr.</th>
            <th>Edição</th>
            <th>Exclusão</th>
        </tr>        
    </ng-template>
    <ng-template pTemplate="body" let-listas>
        <tr class='font-table'>
            <td>{{listas.item}}</td>
            <td>{{listas.unid}}</td>
            <td>{{listas.quant}}</td>
            <td>{{listas.preco}}</td>
            <td>{{listas.perecivel}}</td>
            <td class='list-date'>{{listas.validade}}</td>
            <td class='list-date'>{{listas.fabricacao}}</td>
            <td><a routerLink="/form">Editar</a></td>
            <td><a href=''>Excluir</a></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td colspan='9'><button pButton type="button" class="ui-button-raised ui-button-rounded button-style" label="Novo" routerLink="/form"></button></td>
        </tr>
    </ng-template>
</p-table>
</div>
</section>
