<section>
<div class="ui-md-12 table-style">
<h3>Listagem</h3>
  <table class="table">
    <thead class="thead-light">
      <tr class='font-title'>
        <th>Item</th>
         <th>Quant.</th>
        <th>Preço</th>
        <th>Validade</th>
        <th>Fabr.</th>
        <th>Edição</th>
        <th>Exclusão</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of lista" class='font-table'>
        <td>{{i.Item}}</td>
        <td>{{i.Quantidade}}{{i.Unidade}}</td>
        <td>{{i.Preco}}</td>
        <td>{{i.Validade | date: 'dd/mm/yyyy'}}</td>
        <td>{{i.Fabricacao | date: 'dd/mm/yyyy'}}</td>
        <td><button type="button" class="btn btn-link font-table" routerLink="/form">Editar</button></td>
        <td><button type="button" class="btn btn-link font-table">Excluir</button></td>
      </tr>
      <tr><td colspan='6'><button type="button" class="btn btn-primary button-style" routerLink="/form">Novo</button></td></tr>
    </tbody>
  </table>
</div>
</section>
